header{
margin: 0px;
}
header img{
	width: 100%;
	height: 100px;
}
nav{
	background-color: grey;
}
nav ul{
	margin: 0px;
}

nav ul li{
	display: inline-block;
	text-decoration: underline;
	padding: 4px;
	color: navy;
	font-family: arial;
	font-size: 14px;
}
nav ul li:hover{
	color:red;
}
#content{
	width: 100%;
}
#leftsidebar{
	width: 15%;
	background-color: grey;
	float: left;
}
#noidungchinh{
	width: 70%;
	background-color: #eded8f;
	float: left;
}
#rightsidebar{
	width: 15%;
	background-color: #bdbddc;
	float: left;
	margin-right: 0px;
}
#danhmucchinh p{
	background-image: url(../images/menu_bar.gif);
}#tuvan p{
	background-image: url(../images/menu_bar.gif);
}
.chudeleft p{
	background-image: url(../images/main_bar_left.gif);
	width: 100%;
}
.tieudebaivietleft{
	width: 100%;
}
.baivietleft .imgleft{
	float: left;
	width: 20%;
}
.baivietleft .baivietleft-content{
	float:left;
	width:80%;
}
.baivietleft p{
	float: left;
	width: 80%;
} 
.chuderight p{
	background-image: url(../images/main_bar_right.gif);
	width: 100%;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 3px 0;
}
.baivietright .imgright{
	float: right;
	width: 20%;
}
.baivietright p{
	float: right;
	width: 80%;
}
.clear {
	clear: both;
}
h3{
	text-align: right;
}