.container{
	max-width: 90%;
	margin:0 auto;
}
header{
margin: 0px;
}
header img{
	width: 100%;
	height: 100px;
}
nav{
	background-color: grey;
}
nav ul{
	margin: 0px;
}

nav ul li{
	display: inline-block;
	text-decoration: underline;
	padding: 4px;
	color: navy;
	font-family: arial;
	font-size: 14px;
}
nav ul li:hover{
	color:red;
}
#content{
	width: 100%;
}
#leftsidebar{
	width: 15%;
	float: left;
}
#gioithieu p{
	border: solid thin #e7ab54;
    background-color: #e7ab54;
    color: #fff;
}
#noidungchinh{
	width: 70%;
	float: left;
}
#rightsidebar{
	width: 15%;
	float: left;
	margin-right: 0px;
}
#danhmucchinh p{
	background-image: url(../images/menu_bar.gif);
	text-align: center;
	color: white;
	font-weight: bold;
	background-repeat: no-repeat;
	background-size: cover;
}
.imgleftside {
	text-align: center;
	width: 100%;
}
.imgrightside{
	text-align: center;
}
#tuvan p{
	background-image: url(../images/menu_bar.gif);
	text-align: center;
	color: white;
	font-weight: bold;
	background-size: cover;
}
.chudeleft p{
	background-image: url(../images/main_bar_left.gif);
	width: 100%;
	color: #fff;
	text-transform: uppercase;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
}
.tieudebaivietleft{
	width: 100%;
	margin-top: -15px;
    margin-bottom: -14px;
    color: orange;
    font-size: 13px;
    font-family: arial;
}
.baivietleft .imgleft{
	float: left;
	width: 20%;
}
.baivietleft .baivietleft-content{
	float:left;
	width:80%;
}
.baivietleft p{
	float: left;
	margin-top:0;
} 
.chuderight p{
	background-image: url(../images/main_bar_right.gif);
	width: 100%;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 3px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.baivietright .imgright{
	float: right;
	width: 20%;
}
.clear {
	clear: both;
}
.chudeleft h3{
	text-align: right;
}
.content-image-imgright{
	width: auto;
	float: right;
}
.tieudebaivietright{
	text-align: right;
	margin-top: -15px;
    margin-bottom: -14px;
    color: orange;
    font-size: 13px;
    font-family: arial;
    font-weight: normal;
}
footer{
	color: #fff;
	text-align: center;
	text-transform: capitalize;
	font-family: arial;
	font-size: 16px;
	background-color: grey;
	height: 30px;
}
#scroll{
	width: 50px;
	height:50px;
	background:red;
	position: fixed;
	right: 0;
	bottom:20px;
	display: none;
}