header{
	background-color: orange;
	height: 50px;
	color: white;
	font-size: 20px;
}
hr{
	border-color: red;
}
nav ul li {
	display: inline-block;
	font-size:16px;
	margin: 5px;
}
ul li a{
	color: red;
}
ul li a:hover{
	background-color: navy;

}