.container{
	max-width: 1000px;
	padding:15px;
}
header{
	background-color: orange;
	height: 50px;
	color: white;
	font-size: 20px;
}
hr{
	border-color: red;
}
nav ul li {
	display: inline-block;
	font-size:16px;
	margin: 5px;
}
ul li a{
	color: red;
}
ul li a:hover{
	background-color: navy;

}
h1{
	background-color: red;
	color: yellow;
}
#main{

}
#leftsidebar{
	float:left;
	width:25%;
	height: 700px;

}
#main-content{
	float:right;
	width: 75%;

}
#main-content img {
	
}
h3{
	color: #c43103;
}
#cacbaivietmoi{
	background-color: orange;
	color: white;
}